body {
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Mukta', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
}

.half-with {
    width: 50%;
    padding-left: 2%;

}

.half-with img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: orangered;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}