body {
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Mukta', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flaxible-continer {
    display: flex;
    margin-bottom: 100px;
}

.half-with {
    width: 65%;
    padding-left: 2%;


}

.half-with img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: orangered;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experince {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.full {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    border-left: 8px solid orange;
}

#div1 {
    border-left: 8px solid tomato;

}

#div2 {
    border-left: 8px solid blueviolet;
}

footer {
    text-align: center;
}